// Specific CSS for your home-page
.banner  {
  text-align: center
}

.cell {
  padding: 10px
  
}

h1 {
  padding-top: 30px
}

img {
  width: 100%
}

@keyframes moveRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0px);
  }
}

.custom-h1 {
  animation-duration: 2500ms;
  animation-name: moveRight;
  width: 100%;
}
