<section class="container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <h1>Ma réservation</h1>
            <%= simple_form_for [ @bike, @booking ] do |f| %>

            <ul>
                <li>début de location: ...</li>
                <li>fin de location: ...</li>
                <li>Prix: <%= @booking.total_price %>€</li>
            </ul>
            <p><%= @booking.total_price %>€</p>
            <%= f.submit "Confirm your reservation", class: "btn btn-primary btn-block" %>
            <% end %>
        </div>
    </div>
</section>
