<div class="row">
    <div class="col-lg-3">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-product-infos">
            <div>
                <h2>Bike's title</h2>
                <p>Bike's type</p>
            </div>
            <h2 class="card-product-pricing">£99.99</h2>
        </div>
    </div>
</div>
</div>
