 <head>
    <meta charset="utf-8">
    <meta name="Essai" content="essai">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>renting1818</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <style>
     @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;400;600;900&display=swap');
    </style>
  </head>