<div class="container">
  <h1>List of my bikes</h1>
</div>

<div class="container">
  <div class="row">
    <% @my_bikes.each do |my_bike| %>
      <div class="col-12 col-md-6 col-lg-3 my-2">
        <%= link_to bike_path(my_bike) do %>
          <%= render "shared/card-product", card_infos: my_bike %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
