<div class="banner">
    <div class="container">
        <h1>Need a bike ? Rent it with AirBike !!</h1>
        <form>
          <div class="cell">

            <input placeholder='Address' size="70">
          </div>
          <div class="cell">
            <input placeholder='Date start'size="34">
            <input placeholder='Date end'size="34">
          </div>
          <div class="cell">
            <a href="/bikes" class="btn btn-dark">Find a bike !</a>
          </div>
        </form>
    </div>
  </div>

  <div>
    <img alt="bikeb&w" src="/assets/pic-homepage.jpg">
  </div>
</body>
