<!DOCTYPE html>
<html>
 
    <style>
     @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;400;600;900&display=swap');
    </style>

  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(#);">
      <div class="container">
        <h1>Welcome to Bike BnB </strong>!</h1>
    
        <form class="d-flex justify-content-center">
        <div>   
            <input placeholder='Address'>
        </div>
        <div>   
            <input placeholder='Date start'>
        </div>
        <div> 
            <input placeholder='Date end'>
        </div>

       
        
    <h1><a href="/bikes"><i class="fas fa-search"></i></a></h1>
        </form>
  
    
     
      </div>
    </div>
    <%# <% background_url = 'https://i.pinimg.com/736x/5f/60/bc/5f60bcbcf70e61d77ec8d33688fe6628--image-bleu.jpg', width: 400, height: 500, crop: :fill %> 
  </body>

   <%# <div>
     @media(max-width: 992px) {
      .cards {
        grid-template-columns: 1fr 1fr;
      }
    }

    @media(max-width: 768px) {
      .cards {
        grid-template-columns: 1fr;
      }
    }
   </div> %>

   
 <%# <div class="footer">
    <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div> %>
  
</html>

 <%# <div class="footer">
    <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div> %>