<div class="banner">
    <div class="container">
        <h1>Need a bike ? Rent it with AirBike !!</h1>
        <form>
            <div class="cell">
            <input placeholder='Address'>
        </div>
        <div class="cell">
            <input placeholder='Date start'>
            <input placeholder='Date end'>
        </div>
        <div class="cell">
            <a href="/bikes" class="btn btn-dark">Find a bike !</a>
        </div>
        </form>
    </div>
</div>
