<!DOCTYPE html>
<html>
    <style>
     @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@100;400;600;900&display=swap');
    </style>
<body>
  <div class="banner">
    <div class="container">
        <h1><strong>Need a bike ? Rent it with AirBike !</strong>!</h1>

        <form>
          <div class="cell">
            <input placeholder='Address'>
          </div>
          <div class="cell">
            <input placeholder='Date start'>
            <input placeholder='Date end'>
          </div>
          <div class="cell">
            <a href="/bikes" class="btn btn-dark">Find a bike !</a>
          </div>
        </form>
    </div>
  </div>

  <div class="footer">
   <div class="footer-links">
     <a href="#"><i class="fab fa-github"></i></a>
     <a href="#"><i class="fab fa-instagram"></i></a>
     <a href="#"><i class="fab fa-facebook"></i></a>
     <a href="#"><i class="fab fa-twitter"></i></a>
     <a href="#"><i class="fab fa-linkedin"></i></a>
   </div>
    <div class="footer-copyright">
     This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
</div>
</body>
   <%# <div>
     @media(max-width: 992px) {
      .cards {
        grid-template-columns: 1fr 1fr;
      }
    }
    @media(max-width: 768px) {
      .cards {
        grid-template-columns: 1fr;
      }
    }
   </div> %>
 <%# <div class="footer">
    <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div> %>

</html>
