<section class="banner bg-image">
  <div class="container">
    <div class="row">
    </div class="col-12">
        <h1 class="title-home">Need a bike ? Rent it with AirBike !</h1>
        <form>
          <div class="cell">
            <input placeholder='Address' size="70">
            <a href="/bikes" class="btn btn-dark btn-lg"><i class="fas fa-search"></i> Find a bike</a>
          </div>
        </form>
      </div>
  </div>
</section>
